/bin
.gradle/
build/
eclipse/
gradle/
.settings/org.eclipse.jdt.core.prefs
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-1.7.2-10.12.0.1019-changelog.txt
gradlew
gradlew.bat
.classpath
.project
forge-1.7.2-10.12.0.1024-changelog.txt
.settings/
build.bat
src/main/resources/assets/test/
DenseOres.iml
DenseOres.ipr
DenseOres.iws
forge-1.7.2-10.12.1.1065-changelog.txt
out/*
out/production/DenseOres/mcmod.info
forge-*-changelog.txt
src/main/java/com/rwtema/debug/
fml-1.8-8.0.16.1021-1.8-changelog.txt
